In [1]:
import pandas as pd
df = pd.read_csv(r'C:\Users\User\Motor_Vehicle_Collisions_-_Crashes.csv')
print(df.head())

C:\Users\User\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

   CRASH DATE CRASH TIME   BOROUGH ZIP CODE  LATITUDE  LONGITUDE  \
0  04/14/2021       5:32       NaN      NaN       NaN        NaN
1  04/13/2021      21:35  BROOKLYN    11217  40.68358  -73.97617
2  04/15/2021      16:15       NaN      NaN       NaN        NaN
3  04/13/2021      16:00  BROOKLYN    11222       NaN        NaN
4  04/12/2021       8:25       NaN      NaN   0.00000    0.00000

                LOCATION                    ON STREET NAME CROSS STREET NAME  \
0                    NaN           BRONX WHITESTONE BRIDGE               NaN
1  (40.68358, -73.97617)                               NaN               NaN
2                    NaN          HUTCHINSON RIVER PARKWAY               NaN
3                    NaN                 VANDERVORT AVENUE    ANTHONY STREET
4             (0.0, 0.0)  EDSON AVENUE                                   NaN

                            OFF STREET NAME  ...  \
0                                       NaN  ...
1  620       ATLANTIC AVENUE                 ...
2                                       NaN  ...
3                                       NaN  ...
4                                       NaN  ...

   CONTRIBUTING FACTOR VEHICLE 2  CONTRIBUTING FACTOR VEHICLE 3  \
0                    Unspecified                            NaN
1                            NaN                            NaN
2                            NaN                            NaN
3                    Unspecified                            NaN
4                    Unspecified                            NaN

   CONTRIBUTING FACTOR VEHICLE 4  CONTRIBUTING FACTOR VEHICLE 5  COLLISION_ID  \
0                            NaN                            NaN       4407480
1                            NaN                            NaN       4407147
2                            NaN                            NaN       4407665
3                            NaN                            NaN       4407811
4                            NaN                            NaN       4406885

                   VEHICLE TYPE CODE 1  VEHICLE TYPE CODE 2  \
0                                Sedan                Sedan
1                                Sedan                  NaN
2  Station Wagon/Sport Utility Vehicle                  NaN
3                                Sedan                  NaN
4  Station Wagon/Sport Utility Vehicle                Sedan

   VEHICLE TYPE CODE 3 VEHICLE TYPE CODE 4 VEHICLE TYPE CODE 5
0                  NaN                 NaN                 NaN
1                  NaN                 NaN                 NaN
2                  NaN                 NaN                 NaN
3                  NaN                 NaN                 NaN
4                  NaN                 NaN                 NaN

[5 rows x 29 columns]

In [2]:
df_holiday = pd.read_csv(r'C:\Users\User\us-holidays-2021.csv')
Holidates = df_holiday['DATE'].to_list()
clean_holidates = Holidates[0:-11]
holiday_series = pd.Series(clean_holidates)
holiday_series = pd.to_datetime(holiday_series)

In [3]:
df2 = df.copy()
df2.drop(['VEHICLE TYPE CODE 1','VEHICLE TYPE CODE 2','VEHICLE TYPE CODE 3','VEHICLE TYPE CODE 4','VEHICLE TYPE CODE 5','CONTRIBUTING FACTOR VEHICLE 2','CONTRIBUTING FACTOR VEHICLE 3','CONTRIBUTING FACTOR VEHICLE 4','CONTRIBUTING FACTOR VEHICLE 5'], axis = 1, inplace=True)

In [4]:
print(df2.dtypes)
#need to change crash time to datetime
#number of persons injured to int
#number of persons killed to int
#change contributing factor to category

CRASH DATE                        object
CRASH TIME                        object
BOROUGH                           object
ZIP CODE                          object
LATITUDE                         float64
LONGITUDE                        float64
LOCATION                          object
ON STREET NAME                    object
CROSS STREET NAME                 object
OFF STREET NAME                   object
NUMBER OF PERSONS INJURED        float64
NUMBER OF PERSONS KILLED         float64
NUMBER OF PEDESTRIANS INJURED      int64
NUMBER OF PEDESTRIANS KILLED       int64
NUMBER OF CYCLIST INJURED          int64
NUMBER OF CYCLIST KILLED           int64
NUMBER OF MOTORIST INJURED         int64
NUMBER OF MOTORIST KILLED          int64
CONTRIBUTING FACTOR VEHICLE 1     object
COLLISION_ID                       int64
dtype: object

In [6]:
import numpy as np
df2['CRASH DATE'] = pd.to_datetime(df2['CRASH DATE'])
df2['CRASH TIME'] = pd.to_datetime(df2['CRASH TIME'], format= '%H:%M').dt.time
df2['NUMBER OF PERSONS INJURED']= df2['NUMBER OF PERSONS INJURED'].fillna(0).astype(np.int64)
df2['NUMBER OF PERSONS KILLED']= df2['NUMBER OF PERSONS KILLED'].fillna(0).astype(np.int64)
df2['CONTRIBUTING FACTOR VEHICLE 1'] = df2['CONTRIBUTING FACTOR VEHICLE 1'].astype('category')
#clean data first in df before adding holiday
#need to add holiday as a column to df  USE THE DATE TO CREATE A NEW COLUMN WITH ONLY MONTH AND DAY

In [7]:
print(df2.dtypes) #check the proper changes were made

CRASH DATE                       datetime64[ns]
CRASH TIME                               object
BOROUGH                                  object
ZIP CODE                                 object
LATITUDE                                float64
LONGITUDE                               float64
LOCATION                                 object
ON STREET NAME                           object
CROSS STREET NAME                        object
OFF STREET NAME                          object
NUMBER OF PERSONS INJURED                 int64
NUMBER OF PERSONS KILLED                  int64
NUMBER OF PEDESTRIANS INJURED             int64
NUMBER OF PEDESTRIANS KILLED              int64
NUMBER OF CYCLIST INJURED                 int64
NUMBER OF CYCLIST KILLED                  int64
NUMBER OF MOTORIST INJURED                int64
NUMBER OF MOTORIST KILLED                 int64
CONTRIBUTING FACTOR VEHICLE 1          category
COLLISION_ID                              int64
dtype: object

In [8]:
print(df2.head())

  CRASH DATE CRASH TIME   BOROUGH ZIP CODE  LATITUDE  LONGITUDE  \
0 2021-04-14   05:32:00       NaN      NaN       NaN        NaN
1 2021-04-13   21:35:00  BROOKLYN    11217  40.68358  -73.97617
2 2021-04-15   16:15:00       NaN      NaN       NaN        NaN
3 2021-04-13   16:00:00  BROOKLYN    11222       NaN        NaN
4 2021-04-12   08:25:00       NaN      NaN   0.00000    0.00000

                LOCATION                    ON STREET NAME CROSS STREET NAME  \
0                    NaN           BRONX WHITESTONE BRIDGE               NaN
1  (40.68358, -73.97617)                               NaN               NaN
2                    NaN          HUTCHINSON RIVER PARKWAY               NaN
3                    NaN                 VANDERVORT AVENUE    ANTHONY STREET
4             (0.0, 0.0)  EDSON AVENUE                                   NaN

                            OFF STREET NAME  NUMBER OF PERSONS INJURED  \
0                                       NaN                          0
1  620       ATLANTIC AVENUE                                         1
2                                       NaN                          0
3                                       NaN                          0
4                                       NaN                          0

   NUMBER OF PERSONS KILLED  NUMBER OF PEDESTRIANS INJURED  \
0                         0                              0
1                         0                              1
2                         0                              0
3                         0                              0
4                         0                              0

   NUMBER OF PEDESTRIANS KILLED  NUMBER OF CYCLIST INJURED  \
0                             0                          0
1                             0                          0
2                             0                          0
3                             0                          0
4                             0                          0

   NUMBER OF CYCLIST KILLED  NUMBER OF MOTORIST INJURED  \
0                         0                           0
1                         0                           0
2                         0                           0
3                         0                           0
4                         0                           0

   NUMBER OF MOTORIST KILLED CONTRIBUTING FACTOR VEHICLE 1  COLLISION_ID
0                          0         Following Too Closely       4407480
1                          0                   Unspecified       4407147
2                          0             Pavement Slippery       4407665
3                          0         Following Too Closely       4407811
4                          0                   Unspecified       4406885

In [9]:
df2['MM-DD'] = df2['CRASH DATE'].dt.strftime('%m-%d') #comparing just the month and day 
holiday_series = holiday_series.dt.strftime('%m-%d')

In [10]:
list_of_holidays = []
for item in holiday_series:
    list_of_holidays.append(item)
df2['ON HOLIDAY'] = df2['MM-DD'].isin(list_of_holidays)

In [11]:
print(df2.isnull().sum())

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           552179
ZIP CODE                          552393
LATITUDE                          211179
LONGITUDE                         211179
LOCATION                          211179
ON STREET NAME                    363252
CROSS STREET NAME                 636208
OFF STREET NAME                  1521921
NUMBER OF PERSONS INJURED              0
NUMBER OF PERSONS KILLED               0
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       5080
COLLISION_ID                           0
MM-DD                                  0
ON HOLIDAY                             0
dtype: int64

In [12]:
#summary stats for columns mean, median mode for all numerical values 
print(df2.describe())

           LATITUDE     LONGITUDE  NUMBER OF PERSONS INJURED  \
count  1.581626e+06  1.581626e+06               1.792805e+06
mean   4.067626e+01 -7.384161e+01               2.762520e-01
std    1.398354e+00  2.745141e+00               6.710764e-01
min    0.000000e+00 -2.013600e+02               0.000000e+00
25%    4.066850e+01 -7.397585e+01               0.000000e+00
50%    4.072195e+01 -7.392822e+01               0.000000e+00
75%    4.076889e+01 -7.386665e+01               0.000000e+00
max    4.334444e+01  0.000000e+00               4.300000e+01

       NUMBER OF PERSONS KILLED  NUMBER OF PEDESTRIANS INJURED  \
count              1.792805e+06                   1.792805e+06
mean               1.282348e-03                   5.167043e-02
std                3.786209e-02                   2.337421e-01
min                0.000000e+00                   0.000000e+00
25%                0.000000e+00                   0.000000e+00
50%                0.000000e+00                   0.000000e+00
75%                0.000000e+00                   0.000000e+00
max                8.000000e+00                   2.700000e+01

       NUMBER OF PEDESTRIANS KILLED  NUMBER OF CYCLIST INJURED  \
count                  1.792805e+06               1.792805e+06
mean                   6.732467e-04               2.331653e-02
std                    2.647042e-02               1.526415e-01
min                    0.000000e+00               0.000000e+00
25%                    0.000000e+00               0.000000e+00
50%                    0.000000e+00               0.000000e+00
75%                    0.000000e+00               0.000000e+00
max                    6.000000e+00               7.000000e+00

       NUMBER OF CYCLIST KILLED  NUMBER OF MOTORIST INJURED  \
count              1.792805e+06                1.792805e+06
mean               9.538126e-05                2.010804e-01
std                9.822820e-03                6.329850e-01
min                0.000000e+00                0.000000e+00
25%                0.000000e+00                0.000000e+00
50%                0.000000e+00                0.000000e+00
75%                0.000000e+00                0.000000e+00
max                2.000000e+00                4.300000e+01

       NUMBER OF MOTORIST KILLED  COLLISION_ID
count               1.792805e+06  1.792805e+06
mean                5.126045e-04  2.937186e+06
std                 2.477618e-02  1.502733e+06
min                 0.000000e+00  2.200000e+01
25%                 0.000000e+00  2.914484e+06
50%                 0.000000e+00  3.532570e+06
75%                 0.000000e+00  3.981010e+06
max                 5.000000e+00  4.429705e+06

In [13]:
print(df2.nunique())

CRASH DATE                          3276
CRASH TIME                          1440
BOROUGH                                5
ZIP CODE                             422
LATITUDE                          119226
LONGITUDE                          93469
LOCATION                          231907
ON STREET NAME                     14654
CROSS STREET NAME                  19019
OFF STREET NAME                   167525
NUMBER OF PERSONS INJURED             27
NUMBER OF PERSONS KILLED               7
NUMBER OF PEDESTRIANS INJURED         13
NUMBER OF PEDESTRIANS KILLED           4
NUMBER OF CYCLIST INJURED              6
NUMBER OF CYCLIST KILLED               3
NUMBER OF MOTORIST INJURED            27
NUMBER OF MOTORIST KILLED              6
CONTRIBUTING FACTOR VEHICLE 1         61
COLLISION_ID                     1792805
MM-DD                                366
ON HOLIDAY                             2
dtype: int64